$bg-color: #333;
$bg-color-hover: #404040;
$popup-bg-color: #303030;
$input-bg-color: #222;
$overlay-color: rgba(0, 0, 0, 0.5);
$border-color: #ddd;
$text-color: #ddd;
$table-color: #505050;
$table-hover-color: #6c6c6c;